<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CreekRemotingUri" value="tcp://localhost:555/CreekController" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="CommandHandler.axd" type="CreekPortal.Web.CommandHandler, CreekPortal" validate="false" />
		</httpHandlers>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
</configuration>
